<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Gym management system</title>
    <link rel="shortcut icon" href="{% static 'images/web_icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- bootstrap links -->
    
</head>
<body>

    <!-- home section start -->

    <div class="home" id="home">
        <div class="login-page" style="background-image: url({% static 'images/banner-bg.jpg' %});">
        
            <div class="form-box">
                <P style="text-align: center"> LOGIN FORM </P>
                <div class="button-box">
                    <div id="btn"></div>
                    <input type="radio" class="toggle-btn" name="choose" onclick="login()" checked> <span>user</span> </input>
                    <input type="radio" class="toggle-btn" name="choose" onclick="register()"> <span> Trainer</span> </input>     
                </div>
            
                <form action="member-login-verification.php"class="input-group" id="login" method="post" enctype='multipart/form-data'>
                    <p> User Name </p>
                    <input type="text" class="input-field" placeholder="user id" name="userid">

                    <p> Password </p>
                    <input type="password" class="input-field" placeholder="Enter the password" name="password">
            
                    <button type="submit" class="submit-btn" name="submit"> login</button>
                </form>
            
                <form action="trainer-login-validation.php"class="input-group" id="register" method="post" enctype='multipart/form-data'>

                    <p> User Name </p>
                    <input type="text" class="input-field" placeholder="user id" name="useridd">

                    <p> Password </p>
                    <input type="password" class="input-field" placeholder="Enter the password" name="passwordd">
            
                    <button type="submit" class="submit-btn" name="submit"> login</button>
                </form>
            </div>          
        </div>
    </div>

    <!-- home section ends -->

    <!-- navigation design starts -->
    <section class="nav-bar">
        <nav class="nav-container">
            <div class="div-container1">
                <u><span class="be">BE</span>FIT</u>
            </div>
            <div class="div-container2">
                <div class="menu"> <a href="#" style="color: white">home</a> </div>
                <div class="menu"> <a href="#about" style="color: white">About Us</a> </div>
                <div class="menu"> <a href="#gym-features" style="color: white">Feature</a> </div>
                <div class="menu"> <a href="#trainer" style="color: white">Trainer</a> </div>
            </div>
        </nav>
    </section>

    <!-- navigation design ends -->

    <!-- about design starts -->
    <section class="about" id="about">
        <div class="about-header">
           <div class="about-header-content">
                <span>about us</span>
           </div>
        </div>
        <div class="about-contents">
            <div class="about-image">
                <img src="{% static 'images/about-img.jpg' %}" alt="about" width="100%" height="600px" >
            </div>
            <div class="about-details">
                <div class="about-details-container1">
                    <h1>Every day is a chance to become better</h1>
                </div>
                <div class="about-details-container2">
                    <p>
                        We all know that going to the gym is good for your health and we are all 
                        aware that we should be a bit more active. Joining a gym makes doing 
                        thses things a lot easier.
                    </p>
                </div>
                <div class="about-details-container3">
                    <div class="about-details-container3-subcontainer">
                        <h2> body and mind</h2>
                        <p>
                            When you exercise, endorphins are released which can calm 
                            anxiety and lift your mood.
                        </p>

                    </div>
                    <div class="about-details-container3-subcontainer">
                        <h2> healthy life </h2>
                        <p>
                            We're stating the obvious with this one but did ou know that being 
                            active daily reduces the risk of heart disease and strokes.
                        </p>

                    </div>
                    <div class="about-details-container3-subcontainer">
                        <h2> Acess to equipement </h2>
                        <p>
                            Being a member of a gym means you have access to tons of equipment, 
                            allowing you to keep your routine fresh and exciting.
                        </p>

                    </div>
                    <div class="about-details-container3-subcontainer">
                        <h2> Stress buster</h2>
                        <p>
                            Had a busy day? There is nothing more rewarding then runing 
                            further or lifting heavier then you have before.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about design ends -->

    <!-- gym features design starts -->
    <section class="gym-features" id="gym-features">
        <div class="gym-features-heading">
            <h1>
                gym features
            </h1>
        </div>

        <div class="gym-features-container">
            <div class="gym-features-container-subcontainer">
                <img src="{% static 'images/f-img-1.jpg' %}" alt="feature1 image" width="100%">
            </div>

            <div class="gym-features-container-subcontainer">
                <div class="gym-features-container-subcontainer-image">
                    <img src="{% static 'images/icon-1.png' %}" alt="feature image" width="">
                </div>
                <h4> Classes & community </h4>
                <p> Then, of course, there are the classes and a 
                    community of people all with the same intentions as you. Getting fit.</p>
            </div>

            <div class="gym-features-container-subcontainer">
                <img src="{% static 'images/f-img-2.jpg' %}" alt="feature2 image" width="100%">
            </div>

            <div class="gym-features-container-subcontainer">
                <div class="gym-features-container-subcontainer-image">
                    <img src="{% static 'images/icon-2.png' %}" alt="feature image" width="">
                </div>
                <h4> Improve your sleep </h4>
                <p> Studies show that people who exercise 5 to 6 times a 
                    week are nore likey to get a good night's kip.</p>
            </div>

            <div class="gym-features-container-subcontainer">
                <img src="{% static 'images/f-img-3.jpg' %}" alt="feature3 image" width="100%">
            </div>

            <div class="gym-features-container-subcontainer">
                <div class="gym-features-container-subcontainer-image">
                    <img src="{% static 'images/icon-3.png' %}" alt="feature image" width="">
                </div>
                <h4>Reduced hip and back pain.</h4>
                <p> The benefits of joining a gym and also advised to start running, swimming,
                     and stretching, because it reduces hip and back pain.</p>
            </div>
        </div>
    </section>
    <!-- gym feature design ends -->

    <!-- gym trainer details design starts -->
    <section class="trainer" id="trainer">
        <div class="trainer-heading">
            <div class="trainer-heading-content">
                <h1> Expert trainers </h1>
            </div>
        </div>
        <div class="trainer-details-container">
            <div class="trainer-details-container-subcontainer">
                <div class="trainer-details-container-subcontainer-image">
                    <img src="{% static 'images/trainer-1.jpg' %}" alt="trainer1" width="" height="">
                </div>

                <div class="trainer-details-container-subcontainer-details">
                    <div class="trainer-details-container-subcontainer-details-name">
                        <h3> Expert Trainer</h3>
                        <span> name: Sun </span><br>
                    </div>

                    <div class="trainer-details-container-subcontainer-details-share">
                        <span> Age: 29years</span>
                        
                    </div>

                </div>
            </div>

            <div class="trainer-details-container-subcontainer">
                <div class="trainer-details-container-subcontainer-image">
                    <img src="{% static 'images/trainer-2.jpg' %}" alt="trainer1" width="" height="">
                </div>

                <div class="trainer-details-container-subcontainer-details">
                    <div class="trainer-details-container-subcontainer-details-name">
                        <h3> Expert Trainer</h3>
                        <span> name: Moon </span><br>
                    </div>

                    <div class="trainer-details-container-subcontainer-details-share">
                        <span> Age: 29years</span>
                    </div>

                </div>                
            </div>

            <div class="trainer-details-container-subcontainer">
                <div class="trainer-details-container-subcontainer-image">
                    <img src="{% static 'images/trainer-3.jpg' %}" alt="trainer1" width="" height="">
                </div>

                <div class="trainer-details-container-subcontainer-details">
                    <div class="trainer-details-container-subcontainer-details-name">
                        <h3> Expert Trainer</h3>
                        <span> name: Star</span><br>
                    </div>

                    <div class="trainer-details-container-subcontainer-details-share">
                        <span> Age: 29years</span>
                    </div>

                </div>    
            </div>

            <div class="trainer-details-container-subcontainer">
                <div class="trainer-details-container-subcontainer-image">
                    <img src="{% static 'images/trainer-4.jpg' %}" alt="trainer1" width="" height="">
                </div>

                <div class="trainer-details-container-subcontainer-details">
                    <div class="trainer-details-container-subcontainer-details-name">
                        <h3> Expert Trainer</h3>
                        <span> name: Planet</span> <br>
                    </div>

                    <div class="trainer-details-container-subcontainer-details-share">
                        <span> Age: 29years</span>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <!-- gym trainer details design ends -->

    <!-- footer section start -->

    <section class="footer">

        <div class="trainer-heading">
            <div class="trainer-heading-content">
                <h1> Footer Details  </h1>
            </div>
        </div>

        <div class="box-container">
    
            <div class="box">
                <h3>quick links</h3>
                <a class="links" href="#home">home</a>
                <a class="links" href="#about">about</a>
                <a class="links" href="#features">features</a>
                <a class="links" href="#trainers">trainers</a>
            </div>
    
            <div class="box">
                <h3>opening hours</h3>
                <p> monday : <i> 7:00am - 10:30pm </i> </p>
                <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
                <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
                <p> friday : <i> 7:00am - 10:30pm </i> </p>
                <p> saturday : <i> 7:00am - 10:30pm </i> </p>
                <p> sunday : <i> closed </i> </p>
            </div>
    
            <div class="box">
                <h3>our details</h3>
                <p>  +123-456-7890 </p>
                <p>  +111-222-3333 </p>
                <p> shaikhanas@gmail.com </p>
                <p> shivamogga, india - 400104 </p>
            </div>
        </div>
    
    </section>

    <!-- footer section ends -->

    <script src="{% static 'js/javascript.js' %}"></script>
</body>
</html>