
 .logo {
     position: fixed;
     top: 50%;
     right: 50%;
     transform: translate(50%, -50%);
     width: 100px;
     height: 100px;
     background-image: url('logo.png');
     background-size: contain;
     background-repeat: no-repeat;
     opacity: 1;

     /* z-index: 30; */
     transition: all 0.7s ease-in-out;
 }
 .logo.move-to-right {
     top: 60px;
     right: 4%;
     transition-duration: 2s;
     
 }

