{% extends 'dashboard.html' %}

{% block title %}
  Employee Details 
{% endblock %}

{% block details %}
    <center><p>Employee Details </p></center>
    <button class="btn btn-primary" > <a href="{% url 'addemployee' %}" style="color: white; text-decoration: none;"> Add Employee </a> </button>
        <br>
        <br>
        <div class="datatable-container">
            <!-- ======= Header tools ======= -->
            <div class="header-tools">
              <div class="search">
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="search" class="search-input" placeholder="Enter the name" name = 'key'/>
                </form>
              </div>
            </div>
          
            <!-- ======= Table ======= -->
            <table class="datatable">
              <thead>
                <tr>
                    <th>Photo</th>
                    <th>Employee Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>phone</th>
                    <th>Email</th>
                    <th colspan="2"><center>action</center></th>
                    <th></th>
                </tr>
              </thead>
          
              <tbody>
                {% for i in data %}
                    <tr>
                        <td><img src="{{i.eimage.url}}" alt="{{i.ename}}" width="40px"></td>
                        <td><a href="{% url 'detailsemployee' id=i.eid %}" style="color: white; text-decoration: none;">{{i.ename}}</a></td>
                        <td>{{i.edob}}</td>
                        <td>{% if i.egender == 'M'%}
                              Male
                            {% else %}
                              Female
                            {% endif %}
                        </td>
                        <td>{{i.ephone}}</td>
                        <td>{{i.eemail}}</td>
                        <td><a href="{% url 'updateemployee' id=i.eid %}"><button class="btn btn-primary">update</button></a></td>
                        <td><a href="{% url 'deleteemployee' id=i.eid %}"><button class="btn btn-danger">delete</button></a></td>
                        <td><a href="{% url 'detailsemployee' id=i.eid %}"><button class="btn btn-info">view</button></a></td>
                    </tr>
                {% endfor %}                
              </tbody>
            </table>
        </div>
{% endblock %}