{% extends 'dashboard.html' %}

{% block title %}
  Trainer Details
{% endblock %}

{% block details %}
    <center><p>Trainer Details </p></center>
    <button class="btn btn-primary" > <a href="{% url 'addtrainer' %}" style="color: white; text-decoration: none;">Add Trainer </a></button>
        <br>
        <br>
        <div class="datatable-container">
            <!-- ======= Header tools ======= -->
            <div class="header-tools">
              <div class="search">
                <form action="" method="post">
                  {% csrf_token %}
                  <input type="search" class="search-input" placeholder="Enter the name" name="key" />
                </form>
              </div>
            </div>
          
            <!-- ======= Table ======= -->
            <table class="datatable">
              <thead>
                <tr>
                    <th>Photo</th>
                    <th>Trainer Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>phone</th>
                    <th>Email</th>
                    <th colspan="2"><center>action</center></th>
                    <th></th>
                </tr>
              </thead>
          
              <tbody>
                {% for i in data %}
                    <tr >
                        <td><img src="{{i.timage.url}}" alt="{{i.tname}}" width="40px"></td>
                        <td><a href="{% url 'detailstrainer' id=i.tid %}" style="color: white; text-decoration: none;">{{i.tname}}</a></td>
                        <td>{{i.tdob}}</td>
                        <td>{% if i.tgender == 'M'%}
                              Male
                            {% else %}
                              Female
                            {% endif %}
                        </td>
                        <td>{{i.tphone}}</td>
                        <td>{{i.temail}}</td>
                        <td><a href="{% url 'updatetrainer' id=i.tid %}"><button class="btn btn-primary">Update</button></a></td>
                        <td><a href="{% url 'deletetrainer' id=i.tid %}"><button class="btn btn-danger">Delete</button></a></td>
                        <td><a href="{% url 'detailstrainer' id=i.tid %}"><button class="btn btn-info">View</button></a></td>
                    </tr>
                {% endfor %}                
              </tbody>
            </table>
        </div>
{% endblock %}